.table{
    table, td, th {
        border: 1px solid black;
      }
      
      table {
        border-collapse: collapse;
        width: 50%;
      }
      td {
        text-align: center;
      }
    .center{
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 50px;
    }
    
}