.left-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75vh;
    .nav{
        width: 20%;
        background-color: rgb(97, 95, 95);
        a{
            text-decoration: none;
            color: aliceblue;
           display: flex;
           justify-content: center;
           font-size: 20px;
           margin-top: 30px;
        }
        a:hover{
            color: black;
            background-color: rgb(131, 142, 142);
        }
    }
    .container{
        width: 80%;
        padding: 10px;
    }
}